$bg-light: #f2f2f2;
$text: #222;
$montserat: var(--font-montserrat), sans-serif;
$Bg: #e7e7e7;

.contacts {
  padding: 80px 0;
  scroll-margin-top: 50px;

  .title {
    font-family: $montserat;
    font-size: clamp(45px, 3vw, 12px);
    font-weight: 700;
    margin-bottom: 32px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: start;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .info {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 20px;
    column-gap: 24px;
    font-family: $montserat;
    font-size: 16px;

    .label {
      color: #777;
      font-weight: 500;
      white-space: nowrap;
    }

    .value {
      color: #222;
      font-weight: 500;

      a {
        color: #222;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .socials {
      display: flex;
      gap: 12px;
      margin-top: -5;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 36px;
        height: 36px;

        border: 1px solid #999;
        border-radius: 8px;
        background: $Bg;
        transition: all 0.3s ease;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }

        &:hover {
          border-color: #222;
          background: #f5f5f5;
        }
      }
    }
  }

  .map {
    width: 800;
    height: 400px;
    border-radius: 32px;
    margin-top: -85;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  @media (max-width: 1024px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    .map {
      height: 250px;
      width: 100%;
      margin-top: -80px;
    }
  }

  @media (max-width: 768px) {
    .wrapper {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .map {
      height: 250px;
      width: 100%;
      margin-top: 10px;
    }
  }
}
